<!-- personal.component.html -->

<form class="custom-form">
  <h2>Personal Information</h2>
  <div class="form-group">
    <label for="firstName">First Name*</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      [(ngModel)]="formData.firstName"
      required
    />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name*</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      [(ngModel)]="formData.lastName"
      required
    />
  </div>
  <div class="form-group">
    <label for="profession">Profession*</label>
    <input
      type="text"
      id="profession"
      name="profession"
      [(ngModel)]="formData.profession"
      required
    />
  </div>
  <div class="form-group">
    <label for="city">City*</label>
    <input
      type="text"
      id="city"
      name="city"
      [(ngModel)]="formData.city"
      required
    />
  </div>
  <div class="form-group">
    <label for="postalCode">Postal Code:</label>
    <input
      type="text"
      id="postalCode"
      name="postalCode"
      [(ngModel)]="formData.postalCode"
      required
    />
  </div>
  <div class="form-group">
    <label for="phone">Phone*</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      [(ngModel)]="formData.phone"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="formData.email"
      required
    />
  </div>
  <button (click)="onSubmit()">Submit</button>
  <button
    style="margin-left: 10px; background-color: grey"
    (click)="clearForm()"
  >
    Clear
  </button>
</form>
